
body {
  padding-top: 70px;
}

.big {
  font-size: 22px;
  line-height: 30px;
}

.ref {
  font-size: 60%;
}

.sam {
  font-size: 16px;
  line-height: 1.4;
}
.sam h3 {
  color: #AAA;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
}
.sam h4 {
  margin: 5px 0;
  line-height: 1.4;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.sam hr {
  margin: 35px auto 50px;
}

.clear { clear: both; }

@media (min-width: 768px) {
  .aa
  {
    float: left;
    width: 40%;
    margin: 0 40px 0 0;
  }
  .bb
  {
    float: left;
    width: 45%;
  }
}

.navbar iframe {
  margin-top: 10px;
  margin-left: 10px;
}

.navbar a.btn {
  line-height: 0;
}

.navbar-nav>li>a.btn-danger {
  color: #fff;
}

@media only screen and (max-width : 768px) {
  .navbar-collapse li a.btn-danger {
    width: 100px;
    margin-left: 10px;
  }
}

:target:before {
  content:"";
  display:block;
  height:70px;
  margin:-70px 0 0;
}